<h1>Welcome#index</h1>
<h2 class="spec-text">Hello, Rails!</h2>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Message from Rails</h3>
  </div>
  <div class="panel-body">
    Hello, Rails!
  </div>
</div>

<p>Find me in app/views/welcome/index.html.erb</p>
